body{
background-image: url(../img/background.jpg);
background-repeat: no-repeat;
background-size: 2000px;
}

audio{
  margin-left: 20em;
}

.SWimage{
  width: 20%;
  position: absolute;
    margin-left: 5em;
}


.SWimageVador{
  width: 50%;
  position: absolute;
  margin-top: auto;
  margin-left: 50em;
}

.borderContainer{
  position: relative;

  margin: auto;
  margin-top: 5em;
  width: 100%;
  border: 10px solid red;
  border-radius: 20px;
  width: 340px;
  height: 640px;
}

.Container{
  display: flex;
  flex-wrap: wrap;
  }

.box{
  height: 30px;
  width: 30px;
  border: 1px solid rgba(255, 255, 255, .4);
}
.boxModified{
  height: 30px;
  width: 30px;
  border: 1px solid rgba(255, 255, 255, .4);
  background: green;
}
.boxFix{
  height: 30px;
  width: 30px;
  border: 1px solid rgba(255, 255, 255, .4);
  background: red;
}


.column{
    border: 1px solid white;
}
